numpy
astropy
astroquery
tqdm
scikit-learn
torch>=2.3
matplotlib
packaging
pandas
h5py
beautifulsoup4
requests
pytest
ipython
ipykernel
xgboost
astroNN
GaiaXPy>=2.1
gaiadr3_zeropoint
extinction
MyGaiaDB